<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd"

>
    <bean id="dbProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:project.properties"/>
    </bean>

    <!--<context:annotation-config/>-->
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <bean id="test" class="beans.Test" >
        <property name="driverName" value="${db.driverName}"/>
        <property name="url" value="${db.url}"/>
        <property name="databaseName" value="${db.databaseName}"/>
        <property name="userName" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>


</beans>